@use './variables'as *;
@use './mixins' as *;

.App {
    background: rgb(244,244,244);
    // background: linear-gradient(180deg, rgba(244,244,244,1) 2%, rgba(128,194,203,0.9681372549019608) 6%);
    padding: 1%;
    font-family: "Roboto";
    position:relative; 
    min-height: 100vh;
  
}
