@use './variables'as *;
@use './mixins' as *;




.footer-container {
    @include makeMeFlex(column, center);
    border-top: 2px solid white;
    background-color: #D2D4C8;
  
    ul { @include makeMeFlex(row, center);
        
    }
    li.author{
        margin: 6px 12px;
        font-size: 12px;
    }
}
.footer-icons {
    height: 16px;
    margin:0px 4px;
}
.site-info img {
    height: 100px; 
}

.author {
    display: flex;
    flex-direction: row;
}
