@use './variables'as *;
@use './mixins' as *;



.navbar {
  // height: 5vh;
  background-color: $background-light;
  @include makeMeFlex(row, space-between);

  .nav-bar-logo{
    max-width: 160px;
  }
  
}
.div-login-registration{
    margin:10px;
  }
  
  .shopping-cart-icon-div{
    @include makeMeFlex(row, end);
    gap: 20px;  
    font-size: 24px;
    margin: 8px;
  }
  
  .shopping-cart-icon{
    width: 48px;
    padding-right: 4%;
  }
  
  .button{
    padding: 4px 8px;
    width: 162px;
    margin: 4px;   
    border: 2px solid black;
    border-radius: 12px; 
    text-align: center;
    background-color: #FEFCFF;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-size: 20px;
  }

  .shop-logo{
    width: 500px;
  }

  .navbar-button-div{
    @include makeMeFlex(row, end);
  
  }

  .button:hover{
    transform: scale(1.1);
    background-color: rgba(128,194,203,0.9681372549019608);
  }

  .shopping-cart-icon-div:hover{
    transform: scale(1.1);
    border-radius: 12px;

  }