@use './variables'as *;
@use './mixins' as *;

.seller-list:hover {
    transform: scale(1.03)
}

.seller-list {
    @include makeMeFlex(row, flex-start);
    margin: 32px auto;
    border-radius: 22px;
    background-color: $primary-light;
   
    transition: transform .3s; box-shadow:  5px 5px 10px #9f9f9f,
    -5px -5px 10px #ffffff;;
    max-width: 1000px;

    img {  
    border-radius: 22px 0 0 22px;
    width: 45%;
    }

    .seller-description {
        align-self: flex-start;
        margin: 14px;
        width: 70%;  
    }

    .seller-data {
        @include makeMeFlex(row, flex-start);
       
    }

    p {
        color: $font-color;    
        font-size: 16px;
        margin: 16px 36px; 
        text-align: justify; 
    }

    h2 {
        color: $font-color;
        font-size: 36px;
        margin-left: 12px;
    }
  
}
.seller-rating{
    @include makeMeFlex(row, space-between);
    margin-right: 36px
}
