@use './variables'as *;
@use './mixins' as *;


.outer-product-list{
    min-width: 75vh;

}
.product-list {
    @include makeMeFlex(row, flex-start);
    margin: 2vw 9vw;
    border-radius: 22px;
    background-color: #FEFCFF;
    box-shadow: 0px 10px 49px 6px rgba(75, 75, 75, 1);
    
    

    img {  
    border-radius: 20px 0 0 20px;
    width: 18vw; 
    }

    .product-description {
        align-self: flex-start;
        margin: 1vw;
        width: 60vw;  
    }

    .product-data {
        @include makeMeFlex(row, flex-start);
    }

    h2 {
        color: $font-color;
        margin-bottom: 10px;
        font-size: 44px;
    }
    .product-price {
        h3 {
            display: flex;
            justify-content: center;
        }
    }
}

