@use './variables'as *;
@use './mixins' as *;


.seller-list:hover {
    transform: scale(1.03)
}

.seller-list {
    @include makeMeFlex(row, flex-start);
    margin: 20px auto;
    border-radius: 22px;
    background-color: $primary-light;
    box-shadow: 0px 10px 49px 6px rgba(75, 75, 75, 1);
    transition: transform .3s;
    max-width: 1000px;
   

    img {  
    border-radius: 20px 0 0 20px;
    width: 30%; 
    }

    .seller-description {
        align-self: flex-start;
        margin: 14px;
        width: 70%;  
    }

    .seller-data {
        @include makeMeFlex(row, flex-start);
       
    }

    p {
        color: $font-color;    
        font-size: 16px;
        margin: 16px 36px;  
    }

    h2 {
        color: $font-color;
        font-size: 36px;
        margin-left: 12px;
    }
  
}
