@use './variables'as *;
@use './mixins' as *;


.pay{
        
    margin: 32px auto;
    border-radius: 22px;
    padding: 20px 20px;
    width: 400px;
    text-align: center;
    font-size: 24px;
    border-radius: 72px;
background: #e0e0e0;
box-shadow:  45px 45px 90px #a6a6a6,
             -45px -45px 90px #ffffff;
        }

.container {
    min-height: 75vh;
}

.allergens-div{
    margin: 12px 0px;
}

.product-price{
    display: flex;
    justify-content: space-around
}

.shopping-icon-div{
    display: flex;
    align-items: center
}

.shopping-cart-product-list {
    @include makeMeFlex(row, flex-start);
    margin: 32px auto;
    border-radius: 22px;
    background-color: $primary-light;
    box-shadow: 0px 10px 26px 6px rgba(75, 75, 75, 1);
    max-width: 800px;
    
    img {  
        border-radius: 22px 0 0 22px;
        max-width: 30%;   
    }

    .shopping-cart-product-description {
        align-self: flex-start;
        margin: 0 20px;
        width: 70%;  
    }

    .shopping-cart-product-data {
        @include makeMeFlex(column, flex-start);
    }
    
    h2 {
        color: $font-color;
        margin-bottom: 10px;
        font-size: 32px;
    } 

    h3, h4 {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {     
        font-size: 16px;
    }
    
   

    .shopping-cart-quantity {
        @include makeMeFlex(row, flex-start);
        gap: 12px;
        align-items: baseline;

        .button{
            padding: 4px 12px;
            width: 50px;
            margin: 4px;   
            border: 2px solid black;
            border-radius: 12px; 
            text-align: center;
            background-color: #FEFCFF;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            font-size: 20px;

        }
        button:hover {
            background: #a4adaa;
          }

        .delete {
            width: 180px;
        }
    }
    }


