// colors
$background-light:rgb(210, 225, 230);
$primary-light:  rgb(254, 255, 240);
$secondary-light: white;
$background-button-light: rgb(254, 255, 240);
$third: black;
$fourth: black;


// global settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

