// colors
$background-light: white;
$primary-light: #F5F6F4;
$secondary-light: #D2D4C8;
$footer-light: #D2D4C8;
$background-button-light: rgb(254, 255, 240);
$font-color: black;
$fourth: black;


// global settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

