// colors
$background-light: white;
$primary-light: 	#fff0db;
$secondary-light: #faf0e6;
$footer-light: #faf0e6;
$background-button-light: rgb(254, 255, 240);
$font-color: black;
$fourth: black;


// global settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

