.site-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-copyright-year{
    display:flex;
    align-items: center;
    justify-content: center;
}
.site-authors {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    font-size: 12px;
}
.author-link {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
